* {
    font-family: Arial;
}

body {
    font-family: Helvetica, Arial;
    font-size: 10pt;
    background-color: silver;
    color: black;
    border-color: black;
}

nav a {
    color: blue;
    text-decoration: none;
    background-color: lightgray;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.50s;
    align-self: right;
}

nav {
    text-align: right;
}

nav a.active {
    color: blue;
}

nav a:hover {
    color: black;
}

.center {
    align-self: center;
}

.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    background: darkolivegreen;
    height: 735;
    vertical-align: center;
}

h1 {
    font-size: 2.04rem;
}

.tmenuButtom {
    padding: 0;
}

.menuButtom a {
    display: inline-block;
    text-decoration: none;
    width: calc(18% - 10px);
    margin: 0 5px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background: dodgerblue;
    color: white;
    border-radius: 0px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.menuButtom a:hover {
    color: white;
    background: grey;
}

.hmenuButtom {
    display: block;
}