<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/menu/dashboardStyles.css">
</head>

<body>
    <div class="prop">Select a hotel from dashboard to view images and details</div>

    <div class="dashboard">
        <a href="#page/{{hotel.page}}" ng-repeat="hotel in hotels" ng-click="callHotel(hotel)">{{ hotel.name }}</a>
    </div>

    <div ng-include src="templateUrl"></div>


    <div ng-controller="Slidee">
        <div id="slides_control">
            <div>
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <h4>Slide {{$index+1}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
    </div>


</body>

</html>