<!DOCTYPE html>


<html ng-app="fsAlbum">

<head>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>

    <link rel="stylesheet" href="./styles/properties/pStyle.css">
</head>

<body>

    <div class="propN">
        Four Seasons Resorts Maldives Landaa Giraavaru
    </div>
    <div class="bg" ng-controller="LGGalleryController">

        <!--
            Creating class mainimageshell to load all the images from array and use overflow control to hide images accept the current one.
           -->
        <div class="mainimageview">
            <div class="viewwindow">

                <ul id="fullscroller" class="fullsizelist" ng-style="listposition">
                    <!--    iterating and reading all images  -->
                    <li ng-repeat="image in galleryData">
                        <img id="fullsize" class="large" ng-src="{{IMAGE_LOCATION+image.image}}" />
                    </li>
                </ul>
            </div>
        </div>

        <!-- Area to Show current images description -->
        <div class="captionsview">
            <p class="caption">{{selected.desc}}</p>
        </div>

        <div style="clear:both;"></div>

        <!--   creating thum view area. -->
        <div class="thumbsview">
            <div class="thumbswrapper">
                <ul>
                    <!--    Reading all thumb images -->
                    <li ng-repeat="image in galleryData">
                        <div class="thumbwrapper">
                            <!--    calls the scrollTo function  -->
                            <a ng-href="" ng-click="scrollTo(image,$index)">
                                <img class="thumbnail" ng-src="{{IMAGE_LOCATION+image.image}}" />
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>




    </div>

</body>

</html>